configuration {
	width: 800;
	font: "PragmataPro Nerd Font 18";
	bw: 3;
	padding: 50;
	separator-style: "solid";
	hide-scrollbar: true;
	color-normal: "#141021, #ffeefc, #312842, #f26d21, #ffeefc";
	color-urgent: "#141021, #e4b226, #312842, #f26d21, #ffeefc";
	color-active: "#141021, #c05c47, #312842, #f26d21, #ffeefc";
	color-window: "#141021, #f26d21, #9f78e1";
}
